# Ignore Git repository files
.git
.gitignore

# Ignore environment files
*.env

# Ignore Vectordb cache files
.cache/*

# Ignore Python bytecode files
**/*.pyc
**/*.pyo
**/__pycache__

# docker-compose.yml
docker-compose.yml